<%- include('../partials/header')%>
<body>
    <div class="container form">
        <form action="" method="post">
            <div class="inside">
                <div class="inline">
                    <label for="title">Title</label>
                    <div class="contain-input">
                        <input type="text" name="title" id="title" placeholder="Insert your title" required>
                    </div>
                </div>
            </div>
            <div class="footer-form">
                <button type="submit"><i class="fa-solid fa-floppy-disk"></i></button>
                <a href="/users"><i class="fa-solid fa-rotate-left"></i></a>
            </div>
        </form>
    </div>
</body>
<%- include('../partials/footer')%>