body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.container {
  border: 3px;
  margin: auto;
  background-color: whitesmoke;
  width: 70%;
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgb(167, 167, 167);
}

.inside {
  background-color: white;
  padding: 5px 15px;
}

.inline {
  display: block;
  width: 100%;
  padding: 5px;
  margin-top: 10px;
}

.contain-input {
  float: right;
  width: 80%;
  resize: vertical;
}
input {
  width: 100%;
  padding: 10px;
  font-size: medium;
  border-radius: 8px;
  border-style: solid;
  border-color: whitesmoke;
}